{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<!--    <h1 class="author">Виконав студент 33Бд-СОінф групи фізико-математичного факультету Котенко О.Д., варіант №4</h1>-->
    <header>
        <div class="container">
            <nav class="wrapper">
                <img src="img/logo.png" class="logo" alt="Logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Our Menu</a></li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">Order</a></li>
                </ul>
            </nav>
            <div class="main">
                <h1>Healthy Food Restaurant</h1>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="popular-menu">
            <div class="container">
                <h3>POPULAR MENU</h3>
                <div class="wrapper">
                    <div class="dish-card">
                        <img src="img/dish.jpg" alt="Dish photo">
                        <div class="dish-info">
                            <h4>Noodles</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing...</p>
                            <div class="price">$13</div>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="img/dish2.jpg" alt="Dish photo">
                        <div class="dish-info">
                            <h4>Noodles</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing...</p>
                            <div class="price">$13</div>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="img/dish3.jpg" alt="Dish photo">
                        <div class="dish-info">
                            <h4>Noodles</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing...</p>
                            <div class="price">$13</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn">SHOW MORE</a>
            </div>
        </section>

        <section class="discount wrapper-start">
            <img src="img/discount-theme.png" alt="Discount theme">
            <div class="discount-description">
                <h2>Discount up to 50% All Menu</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </section>

        <section class="promo wrapper-end">
            <div class="promo-description">
                <h2>January’s Promo: Buy 1 Get 1 Free!</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
            <img src="img/promo-theme.png" alt="Promo theme">
        </section>
    </main>
</body>
</html>